@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600&display=swap');


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/theme.css';

html {
  overflow-y: scroll;
}

body {
  background-image: url("../assets/images/background.png");
  background-color:black;
  color:rgb(255, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: 'Prompt', sans-serif;
  padding: 0px;
  margin: 0px
}

.hero{
  background-image: url("../assets/images/hero/obi-wan-marvel-sashsingle-hero.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.nav {
  position: fixed;
  top: 174px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 20;
  color:azure
}

.nav__links {
  position: relative;
  display: flex;
  justify-content: center;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.nav__link {
  position: relative;
  display: flex;
  justify-content: center;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

