@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600&display=swap');


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/theme.css';


body {
  background-image: url("../assets/images/background.png");
  color:rgb(255, 255, 255);
  font-family: 'Starjedi', sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 
}

